/alumni/*
wp-blog-header.php
/wp-content/*
wp-load.php
wp-signup.php
example
/wiki/*
wp-comments-post.php
wp-cron.php
wp-login.php
wp-trackback.php
index.php
wp-activate.php
wp-config-sample.php
/wp-includes/*
wp-mail.php
xmlrpc.php
license.txt
/wp-admin/*
wp-config.php
wp-links-opml.php
wp-settings.php